
.container {
    max-width: 1560px;
    padding: 0;
    margin: 0 auto;
}

.header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 99;
    background-color: #fff;
    border-bottom: 1px solid #e6e6e6;
}

.menubar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    font-family: var(--font-family2);
}

.menubar-content {
    width: 158px;

    img {
        width: 100%;
        height: auto;
    }
}

.menubar-menu {
    display: flex;
    align-items: center;
    
    a {
        font-size: 14px;
        cursor: pointer;
        color: var(--color2);
        text-decoration-line: none;
        font-weight: 600;
    }
}

.menubar-menu-nav {
    display: flex;
    align-items: center;
    gap: 30px;

    a {
        font-size: 14px;
        cursor: pointer;
        color: var(--color2);
        text-decoration-line: none;
        font-weight: 600;

        img {
            width: 12px;
        }
    }
}

.menubar-menu-button {
    margin: 0 30px;

    button {
        font-size: 14px;
        cursor: pointer;
        color: var(--colorWhite);
        background-color: var(--color3);
        border: none;
        font-weight: 600;
        height: 70px;
        padding: 0 15px;

        img {
            width: 12px;
        }
    }
}

.menu-button {
    display: none;

    img {
        height: 20px;
    }
}

@media (max-width:1024px) {

    .menubar-menu {
        display: none;
    }
    
    .menubar-menu-button {
        display: none;
    }

    .menu-button {
        display: block;
    }
}

@media (max-width:576px) {

    .menubar-menu {
        display: none;
    }
    
    .menubar-menu-button {
        display: none;
    }
}